@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    /* #F7F2EE - 50 */
    --background: 30 29% 95%;
    /* #312216 - 900 */
    --foreground: 30 45% 14%;
    /* #FFFFFF */
    --card: 0 0% 100%;
    /* #312216 - 900 */
    --card-foreground: 30 45% 14%;
    /* #FFFFFF */
    --popover: 0 0% 100%;
    /* #312216 - 900 */
    --popover-foreground: 30 45% 14%;
    /* #704F33 - 700 */
    --primary: 30 36% 32%;
    /* #F7F2EE - 50 */
    --primary-foreground: 30 29% 95%;
    /* #E9DACE - 100 */
    --secondary: 30 29% 86%;
    /* #312216 - 900 */
    --secondary-foreground: 30 45% 14%;
    /* #E9DACE - 100 */
    --muted: 30 29% 86%;
    /* #503825 - 800 */
    --muted-foreground: 30 38% 23%;
    /* #AF7B50 - 500 */
    --accent: 30 37% 50%;
    /* #F7F2EE - 50 */
    --accent-foreground: 30 29% 95%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    /* #DAC2AF - 200 */
    --border: 30 28% 77%;
    /* #DAC2AF - 200 */
    --input: 30 28% 77%;
    /* #704F33 - 700 */
    --ring: 30 36% 32%;
    /* #855D3D - 600 */
    --chart-1: 30 37% 38%;
    /* #AF7B50 - 500 */
    --chart-2: 30 37% 50%;
    /* #BD9370 - 400 */
    --chart-3: 30 34% 59%;
    /* #CCAA8F - 300 */
    --chart-4: 30 30% 67%;
    /* #704F33 - 700 */
    --chart-5: 30 36% 32%;
    --radius: 0.375rem;
    /* #F7F2EE - 50 */
    --sidebar-background: 30 29% 95%;
    /* #312216 - 900 */
    --sidebar-foreground: 30 45% 14%;
    /* #704F33 - 700 */
    --sidebar-primary: 30 36% 32%;
    /* #F7F2EE - 50 */
    --sidebar-primary-foreground: 30 29% 95%;
    /* #E9DACE - 100 */
    --sidebar-accent: 30 29% 86%;
    /* #312216 - 900 */
    --sidebar-accent-foreground: 30 45% 14%;
    /* #DAC2AF - 200 */
    --sidebar-border: 30 28% 77%;
    /* #704F33 - 700 */
    --sidebar-ring: 30 36% 32%;
  }
  .dark {
    /* #110C08 - 950 */
    --background: 30 37% 6%;
    /* #E9DACE - 100 */
    --foreground: 30 29% 86%;
    /* #312216 - 900 */
    --card: 30 45% 14%;
    /* #E9DACE - 100 */
    --card-foreground: 30 29% 86%;
    /* #312216 - 900 */
    --popover: 30 45% 14%;
    /* #E9DACE - 100 */
    --popover-foreground: 30 29% 86%;
    /* #BD9370 - 400 */
    --primary: 30 34% 59%;
    /* #110C08 - 950 */
    --primary-foreground: 30 37% 6%;
    /* #503825 - 800 */
    --secondary: 30 38% 23%;
    /* #E9DACE - 100 */
    --secondary-foreground: 30 29% 86%;
    /* #503825 - 800 */
    --muted: 30 38% 23%;
    /* #CCAA8F - 300 */
    --muted-foreground: 30 30% 67%;
    /* #AF7B50 - 500 */
    --accent: 30 37% 50%;
    /* #110C08 - 950 */
    --accent-foreground: 30 37% 6%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    /* #503825 - 800 */
    --border: 30 38% 23%;
    /* #503825 - 800 */
    --input: 30 38% 23%;
    /* #BD9370 - 400 */
    --ring: 30 34% 59%;
    /* #BD9370 - 400 */
    --chart-1: 30 34% 59%;
    /* #AF7B50 - 500 */
    --chart-2: 30 37% 50%;
    /* #855D3D - 600 */
    --chart-3: 30 37% 38%;
    /* #CCAA8F - 300 */
    --chart-4: 30 30% 67%;
    /* #DAC2AF - 200 */
    --chart-5: 30 28% 77%;
    /* #110C08 - 950 */
    --sidebar-background: 30 37% 6%;
    /* #E9DACE - 100 */
    --sidebar-foreground: 30 29% 86%;
    /* #BD9370 - 400 */
    --sidebar-primary: 30 34% 59%;
    /* #110C08 - 950 */
    --sidebar-primary-foreground: 30 37% 6%;
    /* #503825 - 800 */
    --sidebar-accent: 30 38% 23%;
    /* #E9DACE - 100 */
    --sidebar-accent-foreground: 30 29% 86%;
    /* #503825 - 800 */
    --sidebar-border: 30 38% 23%;
    /* #BD9370 - 400 */
    --sidebar-ring: 30 34% 59%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
